body{
    font-family: 'Tahoma', sans-serif;
}

.custom-button {
    background-color: #738276;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px
}
